body {
  margin: 0%;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0%;
  padding: 0%;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.container {
  width: 1050px;
  margin: 0 auto;
}

.header {
  background: #4b73b5;
  color: #fff;
 }

.header__container {
  position: relative;
  height: 77px;
}

.logo {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 10px;
}

.company-contacs {
  position: absolute;
  right: 0;
  top: 10px;
  text-align: right;
}

.company-contacs__phone {
  font-size: 21px;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}
  

.company-contacts__text {
  font-size: 14px;
  font-weight: bold;
  opacity: .7;
}

.airplane-picture {
  display: inline;
  position: absolute;
  right: 0;
  

}

  


/* .pagination__display {
  display: inline-block;
  vertical-align: middle;
}

.pagination__controlls, {
  display: inline-block;
  vertical-align: middle;
}

.pagination__pages, .pagination__pages-item {
  display: inline-block;
  vertical-align: middle;
} */

.header {
  margin-bottom: 27px;
}

.page-content {
  width: 880px;
}

.page-content, .sidebar {
  display: inline-block;
  vertical-align: top;
}

* {
  box-sizing: border-box;
}

 .tariff__list {
  list-style: none;
  padding: 0%;
}

.standart, .premium, .luxury {
  display: inline-block;
  background: red;
  position: relative;
  width: 25%;
  height: 450px;
  text-align-last: center;
}

.icon__picture {
  transform: translate(110%)
   }


.price {
  font-size: 53px;
}

.nightly {
  
}

/* .standart {
  display: block;
  position: relative;
  background: red;
  width: 250px;
  height: 400px;
}

.premium {
  display: block;
  position: relative;
  background: red;
  width: 250px;
  height: 400px;
} */