html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  /* list-style: none; */
}







.maincontent {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  height: 100%;
  
}

.main__container {
  display: inline-block;
  width: 1100px;
  /* margin: 0 auto;
  height: 100%; */
}












.mainpage {
  float: left;
  width: 940px;
  height: 100%;
}

.airplane-picture {
  position: relative;
  left: 57px;
}




.tariff__item {
  display: inline-block;
  text-align: center;
  width: 250px;
  height: 460px;
  padding: 5px;
  margin: 5px;
  vertical-align: middle;
}

.tariff__link {
  display: inline-block;
  background: #4b73b5;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.tariff__picture {
  position: absolute;
  top: 50;
  left: 50%; 
  transform: translate(-50%, -50%)
}

.tariff__price {
  font-size: 53px;
}

p {
  font-size: 18px;
  line-height: 30px;
}

ul {
  font-size: 18px;
  line-height: 30px;
}


h1 {
  font-size: 49px;
  position: relative;
  left: 55px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}



.nightly, .travel, .children {
  display: inline-flex;
  width: 940px;
  height: 220px;
  vertical-align: middle;
  margin: 5px;
}


.nightly__desc, .travel__desc, .children__desc {
  line-height: 10px;
  position: relative;
  top: 25px;
}


.nightly__image, .travel__image, .children__image {
  border-radius: 50%;
  padding: 15px;
  width: 163px;
  height: 163px;
}




